<!doctype=html>
<head>
    <style type="text/css">
    p{
    color: red
}
    .class1{
    color: blue
}
    img{
    width: 800px;
    height: auto;
}
    </style>
</head>
<body>
    <h1>{{var1}}</h1>
    <p id="id1">my first line</p>
    <p class="class1">my second line</p>
    <form action="/search" method="get">
        <input type="text" name="q">
        <input type="submit" value="搜索">
    </form>

    <img src="../static/timg.jpeg"><img>
    <script type="text/javascript">
        document.getElementById('id1').innerHTML="What a beautiful day, wohaha"
    </script>
</body>
